#businesscard-element {
  position: relative;
}

#businesscard-container {
  width: 80px;
  aspect-ratio: 3/2;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
  background: #50495b;
  border-radius: 5px;
  box-shadow: 5px 5px 30px #00000050;
}

#user-icon {
  width: 25%;
  aspect-ratio: 1;
  color: #ffffff95;
  font-size: 100%;
}

#user-name {
  width: 100%;
  text-align: center;
  font-size: 80%;
  color: #ffffff95;
}
