/* ADOBE FONTS */
@import url("https://use.typekit.net/afj3hjl.css");

/* ELEMENT STYLES */

@import "landscape/style-letter.css";
@import "landscape/style-planner.css";
@import "landscape/style-notes.css";

@import "portrait/style-letter.css" (orientation: portrait);
@import "portrait/style-planner.css" (orientation: portrait);
@import "portrait/style-notes.css" (orientation: portrait);

* {
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #a0cbd2;
  background: linear-gradient(120deg, #a0cbd2 0%, #93c3cf 35%, #5a98a7 100%);
  font-family: six-hands-marker, marydale, sans-serif;
  font-weight: 700;
  color: #00000090;
}

main {
  position: relative;
  /* 🐞 */
  border: #9a9a9a 1px dotted;
}

@media screen and (orientation: landscape) {
  main {
    width: 1000px;
    height: 500px;
  }
}

@media screen and (orientation: portrait) {
  main {
    width: 350px;
    height: 600px;
  }
}

.element {
  position: absolute;
  font-family: new-order, sans-serif;
  font-weight: 400;
}

.element-label {
  position: absolute;
}

.element-label-text {
  text-align: center;
}

.element-label-text h2 {
  font-size: larger;
  box-sizing: content-box;
  margin-bottom: 5%;
}

.label-arrow {
  opacity: 60%;
  position: absolute;
}

.element-label-text {
  font-size: medium;
}

@media screen and (orientation: portrait) {
  .element-label-text {
    font-size: small;
  }
}

#taped-note-element {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

#taped-note-container {
  width: 180px;
  font-size: medium;
}

@media screen and (orientation: portrait) {
  #taped-note-container {
    width: 90px;
    font-size: x-small;
  }
}

#taped-note-text {
  width: 100%;
  position: absolute;
  top: 45%;
  text-align: center;
}
